{% extends 'base.html' %}

{% block title %}My Orders{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1 class="display-4 mb-4">My Orders</h1>
        <ul class="list-group">
            {% for order in orders %}
                <li class="list-group-item bg-secondary rounded-3">
                    <div class="row align-items-center">
                        <div class="col-md-4">
                            <h2 class="h5 text-white mb-1"><a
                                    href="{% url 'listing_detail' order.listing.pk %}">{{ order.listing.title }}</a>
                            </h2>
                        </div>
                        <div class="col-md-3">
                            <span class="badge bg-primary rounded-pill">{{ order.status }}</span>
                        </div>
                        <div class="col-md-3">
                            <span class="badge bg-light text-dark rounded-pill">{{ order.reservation_date }}</span>
                        </div>
                        <div class="col-md-2 text-right">
                            {% if user.is_superuser %}
                                <form action="{% url 'accept_order' order.pk %}" method="post">
                                    {% csrf_token %}
                                    <button class="btn btn-primary mb-2 mb-md-0">Accept</button>
                                </form>
                            {% endif %}
                            <form action="{% url 'cancel_order' order.pk %}" method="post">
                                {% csrf_token %}
                                <button class="btn btn-danger">Cancel</button>
                            </form>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
