{% extends 'base.html' %}

{% block title %}Create Listing{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="h2 mb-4">Create a New Listing</h2>
    <form method="post" enctype="multipart/form-data" action="{% url 'listing_create' %}" enctype="multipart/form-data" class="row g-3">
        {% csrf_token %}
        <div class="col-md-6">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title" required placeholder="Enter title">
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" name="description" rows="3" required placeholder="Enter description"></textarea>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input type="number" class="form-control" id="price" name="price" required placeholder="Enter price">
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label for="main_img" class="form-label">Main Image</label>
                <input type="file" class="form-control" id="main_img" name="main_img" required>
            </div>
        </div>
        <div class="col-12 text-end">
            <button type="submit" class="btn btn-primary">Create Listing</button>
        </div>
    </form>
</div>
{% endblock %}
