{% extends 'base.html' %}

{% block title %}Listing Details{% endblock %}

{% block content %}
    <div class="container" style="padding-top: 40px;">
        <div class="row">
            <div class="col-md-6">
                {% load static %}
                {% if listing.main_img %}
                    <img alt="Listing Image" class="img-fluid" src="{{ listing.main_img.url }}">
                {% else %}
                    <img alt="Listing Image" class="img-fluid" src='/media/images/no_image.jpeg'>
                {% endif %}
            </div>
            <div class="col-md-6">
                <h2 class="estate-title">{{ listing.title }}</h2>
                <p class="lead">{{ listing.description }}</p>
                <h3 class="estate-price">Price: {{ listing.price }}</h3>
                {% if user.is_authenticated %}
                    {% if user.is_superuser %}
                        <a href="{% url 'listing_update' listing.pk %}" class="btn btn-primary">Edit Listing</a>
                        <a href="{% url 'listing_update' listing.pk %}" class="btn btn-warning">Delete Listing</a>

                        {% if listing.available %}
                            <form method="post" action="{% url 'reserve_listing' listing.pk %}" class="mt-2">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="reserve_user">Reserve for:</label>
                                    <select name="reserve_user" id="reserve_user" class="form-control">
                                        {% for u in users %}
                                            <option value="{{ u.id }}">{{ u.username }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="reserve_date">Reserve Date:</label>
                                    <input type="text" id="reserve_date" name="reserve_date"
                                           class="form-control datepicker">
                                </div>
                                <button type="submit" class="btn btn-secondary mt-2">Reserve</button>
                            </form>
                        {% endif %}
                    {% else %}
                        <form method="post" action="{% url 'reserve_listing' listing.pk %}" class="mt-2">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="reserve_date">Reserve Date:</label>
                                <input type="date" id="reserve_date" name="reserve_date"
                                       class="form-control datepicker" required>
                            </div>
                            <div class="form-group">
                                <label for="credit_card_number">Credit Card Number:</label>
                                <input type="text" id="credit_card_number" name="credit_card_number"
                                       class="form-control" maxlength="16" pattern="\d{16}" required>
                            </div>
                            <div class="form-group d-flex flex-row">
                                <div class="mr-2">
                                    <label for="expiration_month">Expiration Month (MM):</label>
                                    <input type="text" id="expiration_month" name="expiration_month"
                                           class="form-control" maxlength="2" pattern="\d{2}" required>
                                </div>
                                <div style="font-size: 1.5rem">/</div>
                                <div>
                                    <label for="expiration_year">Expiration Year (YY):</label>
                                    <input type="text" id="expiration_year" name="expiration_year" class="form-control"
                                           maxlength="2" pattern="\d{2}" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="csv">CSV:</label>
                                <input type="text" id="csv" name="csv" class="form-control" maxlength="3"
                                       pattern="\d{3}" required>
                            </div>
                            {% if message %}
                                <div>
                                    <p>
                                        {{ message }}
                                    </p>
                                </div>
                            {% endif %}
                            <button type="submit" class="btn btn-secondary">Reserve</button>
                        </form>

                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
